<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TalkiMate AI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Fredoka+One&display=swap">
</head>

<body>
    <div class="container">
        <a href="{{ url_for('logout') }}" class="logout">Logout</a>
        <h1>TalkiMate AI</h1>
        <p>Hi friend! Talk to me by pushing the button below!</p>
        <button id="startRecording">Push Here</button>
        <button id="stopRecording" style="display:none;">Stop Recording</button>

        <div id="responseSection" style="display: none;">
            <h4>TalkiMate Response:</h4>
            <p id="responseText"></p>
            <audio id="audioPlayer" controls>
                <source id="audioSource" src="" type="audio/mp3">
                Your browser does not support the audio element.
            </audio>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>

</html>
